#crew-pic {
  height: 900px;
}
#crew-bg {
  background-image: url("../../img/background-crew-desktop.jpg");
}
@media screen and (max-device-width: 600px) {
  #crew-pic {
    height: 400px;
  }
  #destination-pic {
    height: 300px;
  }
  #crew-container {
    height: 100%;
    background-attachment: fixed;
  }
  #crew-bg {
    background-image: url("../../img/background-crew-tablet.jpg");
  }
}
