.destination-bg {
  background-image: url("../../img/destination.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: repeat;
  background-size: cover;
  display: flex;
  color: #fff;
  height: 100vh;
}
.description {
  width: 30rem;
  text-align: center;
}
.travel {
  justify-content: center;
}
.container-2 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.pic{
  margin-left: 50px;
}

@media screen and (min-device-width: 148px) and (max-device-width: 1900px) {
  .destination-bg {
    background-image: url("../../img/background-destination-tablet.jpg");
    height: 100%;
    padding: 50px;
  }

  .description {
    text-align: center;
    width: auto;
  }
  .travel {
    justify-content: center;
    margin-bottom: 100px;
  }
  .pic {
    margin-top: 200px;
    margin-left: 0;
  }
}
@media screen and (max-device-width: 147px) {
  .destination-bg {
    background-image: url("../../img/background-destination-mobile.jpg");
    overflow: scroll;
  }
}
.btn {
  margin-right: 20px;
  margin-bottom: 50px;
  margin-top: 50px;
  accent-color: green;
}
